.mainpage-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
}

/* .todo-item {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
} */