.mainpage-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-color: #ADD8E6

}

.todo-list {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-weight: bold;
}

h6 {
    font-weight: bold;
}